<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<br>
<br>
  <div class="container">

    <div class="row">
        <div class="center-align">
            <h4><b>Login via Google!</h4>
        </div>
    </div>


    <div class="row center-align">
        <div class="col s12 m6 l6">
            <h4>LHS</h4>
        </div>
        <div class="col s12 m6 l6">
            <h4>Do this</h4>
        </div>
    </div>
    <div id="div-login-button"class="row center-align">
       <a id="login-button" class="btn-large teal accent-4 valign" href="/auth/google">Login with Google</a>
    </div>
    <br>
</div>

<script type="text/javascript">

    $(document).ready(function(){
    $("#login-button").click(function(){
        $("#div-login-button").append($("<div>").addClass("progress").append($("<div>").addClass("indeterminate")))
    });
});
</script>
